/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  width: 700px;
  margin: auto;
 }

 .link {
  text-decoration: none;
  color: rgb(52, 105, 171);
  font-size: 15px;
  font-style: italic;
 }

 .answer {
  color: rgb(0, 0, 0);
  background-color: rgb(235, 238, 239);
  padding-left: 15px;
  padding-bottom: 4px;
  padding-top: 4px ;
  margin-left: 2px;
  border-left: 6px solid  rgb(209, 205, 205);
  border-radius: 10px;
  margin-left: 60px;
  box-shadow: 8px 5px 5px rgb(198, 196, 196);
 }

 .ask {
  padding-left: 15px;
  padding-bottom: 4px;
  padding-top: 4px ;
  margin-left: 2px;
  border-left: 6px solid  rgb(209, 205, 205);
  border-radius: 10px;
  box-shadow: 8px 5px 5px rgb(198, 196, 196);
 }

 .form-control {
  display: flex;
  justify-content: space-between;
 }
